@model VendorsSliderModel
@using Nop.Web.Models.Common;

<div class="vendor-grid vendor-slider">
    <div class="item-grid vendorslider">
        @for (var i = 0; i < 10; i++)
        {
            foreach (var vendor in Model.VendorsList)
             {
                 <div class="item-box">
                     <div class="vendor-item">
                         <div class="picture">
                             <a href="@Url.RouteUrl("Vendor", new {SeName = vendor.SeName})">
                                 <img src="@vendor.PictureModel.ImageUrl" alt="@vendor.PictureModel.AlternateText" title="@vendor.PictureModel.Title"/>
                             </a>
                         </div>
                         <h2 class="title">
                             <a href="/vendor" title="">
                                 Vendor Title
                             </a>
                         </h2>
                     </div>
                 </div>
             }
        }
    </div>
</div>

<script type="text/javascript" src="/Scripts/slick.min.js"></script>
@{
    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
    if (controllerName == "Customer" && actionName == "Register")
    {
    <script type="text/javascript">
        $('.vendorslider').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: false,
        vertical: true,
        autoplaySpeed: 3000
        });
    </script>
    }
    else
    {
    <script type="text/javascript">
    function windowSize() {
        if ($(window).width() <= '750') {
            $('.vendorslider').slick({
                slidesToShow: 2,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 3000
            });
        } else {
            $('.vendorslider').slick({
                slidesToShow: 6,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 3000
            });;
        }
    }
    $(window).on('load resize', windowSize);
    </script>
    }
}