@font-face {
    font-family: 'MyriadPro';
    src: url('MyriadProRegular.eot?#iefix') format('embedded-opentype'),
         url('MyriadProRegular.woff') format('woff'),
         url('MyriadProRegular.ttf') format('truetype'),
		 url('MyriadProRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('MyriadPro-Bold.woff') format('woff'),
         url('MyriadPro-Bold.ttf') format('truetype'),
		 url('MyriadPro-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Zhizn';
    src: url('Zhizn.eot?#iefix') format('embedded-opentype'),
         url('Zhizn.woff') format('woff'),
         url('Zhizn.ttf') format('truetype'),
		 url('Zhizn.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?gbelm8');
  src:  url('icomoon.eot?gbelm8#iefix') format('embedded-opentype'),
    url('icomoon.ttf?gbelm8') format('truetype'),
    url('icomoon.woff?gbelm8') format('woff'),
    url('icomoon.svg?gbelm8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_heart:before {
  content: "\e900";
}
